::selection {
  color: rgb(255, 255, 255);
  background: rgb(255, 52, 79);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.no-select {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

#deco {
  overflow: hidden;

  .deco-yellow-line {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.btn {
  font-family: 'JetBrains Mono';
  text-align: center;
  background-color: transparent;
  border-style: solid;
  border-width: 0.2rem;

  &-yellow {
    @extend .btn;
    color: $color-main-strong;
    border-color: $color-main;

    &:hover {
      color: white;
      background-color: $color-main;
      transition: ease-in-out 0.2s;
    }
  }

  &-pink {
    @extend .btn;
    color: $color-sub1;
    border-color: $color-sub1;

    &:hover {
      color: white;
      background-color: $color-sub1;
      transition: ease-in-out 0.2s;
    }
  }

  &-pink-textonly {
    @extend .btn;
    color: $color-sub1;
    border-style: none;

    &:hover {
      color: $color-sub1-strong;
      transition: ease-in-out 0.2s;
    }
  }
}

.label {
  font-family: 'JetBrains Mono';
  text-align: center;
  background-color: transparent;
  border-style: solid;
  border-width: 0.2rem;

  &-yellow-filled {
    @extend .btn;
    color: white;
    background-color: $color-main;
    border-color: $color-main;
  }
}
