#content {
  margin: 0 auto 0 auto;
  padding: 0 2rem;

  h2 {
    font-size: 2.3rem;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  & > div {
    font-size: 1.3rem;
    margin: 1em auto 1.5em auto;
    max-width: 50ch;
    color: rgb(43, 43, 43);
  }

  & > .code {
    max-width: 65ch;
  }

  & > a {
    display: block;
    font-size: 1.2rem;
    margin: 0 auto 0 auto;
    padding: 0.6em;
    max-width: max-content;
  }
}
