.code-editor {
  display: flex;
  justify-content: center;
  align-items: center;

  .codeflask {
    position: relative;
    background-color: #fafafa;
    // background: #2a2734; // TODO (Theme Switching)
    min-height: 3.3em;

    .codeflask__textarea {
      z-index: 1;
      color: transparent;
      overflow-y: hidden;

      // ------------------------------
      // same as prism theme
      font-size: 1.1rem;
      padding: 1em;
      font-family: 'JetBrains Mono';
      line-height: 1.5em;
      border: 0.2rem solid $color-main;

      &::selection {
        background: #cceae7;
        color: #263238;

        // text-shadow: none;
        // background: #90b7ff;
      }
      // ------------------------------
    }

    .codeflask__pre {
      z-index: 0;
      width: max-content;
      border: 0.2rem solid transparent;
    }

    code[class*='language-'],
    pre[class*='language-'] {
      background-color: transparent;
    }
  }
}

.code-editor-up {
  display: flex;
  margin: 0;

  & > div,
  & > button,
  & > a {
    font-size: 1rem;
    margin-bottom: 0;
    margin-right: 0.5em;
    padding: 0.4em;
    border-bottom: none;
  }
}

.code-editor-down {
  display: flex;
  margin: 0;

  & > div,
  & > button,
  & > a {
    font-size: 1rem;
    margin-top: 0.5em;
    margin-right: 0.5em;
    padding: 0.4em;
  }
}

#nim-code-result {
  font-size: 1rem;
  margin-top: 0.5em;
  font-family: 'JetBrains Mono';

  & > div[id^='nim-result-tab'] {
    background: #fafafa;
    border: 0.2rem solid $color-main;

    & > div {
      padding: 1em;
    }
  }
}
